body {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

.mainContainer {
  height: 100vh;
  min-height: 100vh;
  flex: 1 0 auto;
}

Footer {
  flex-shrink: 0;
}

.followMe>ul {
  list-style-type: none;
}



